/* General body styling */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a; /* Darker underworld theme */
  color: #f5f5f5; /* Slightly softer white text */
  background: radial-gradient(circle, #0b0b0b, #141414); /* Subtle gradient background */
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the body takes up the full height of the viewport */
}

/* Container Styling */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background: #1e1e1e;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  transform: scale(1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hover effect */
.container:hover {
  transform: scale(1.02);
}

/* Header Styling */
h1 {
  font-size: 80px; /* Larger font for ORCUS */
  font-weight: bold; /* Bold font for ORCUS */
  text-align: center;
  color: #e53935; /* Red for Orcus’ fiery theme */
  margin-bottom: 5px;
  letter-spacing: 7px; /* Increased spacing for letters */
  font-family: 'Piedra', sans-serif; /* Apply Piedra font */
  animation: fadeIn 2s ease-in-out;
}

/* Acronym Styling */
#acronym {
  font-size: 24px; /* Larger size for the full form */
  margin-top: 2px;
  text-align: center;
}

.acronym-letter {
  font-weight: bold;
  color: #e53935; /* Red for Orcus’ fiery theme */
  margin: 0 0px; /* Added spacing between letters */
}

/* Media query for mobile screens */
@media (max-width: 600px) {
  .container {
    padding: 20px;
    width: 90vw; /* Ensure the container fits within the viewport width */
  }

  h1 {
    font-size: 40px; /* Smaller font for ORCUS on mobile */
    letter-spacing: 3px; /* Reduced spacing for letters */
  }

  #acronym {
    font-size: 18px; /* Smaller font size for mobile */
    line-height: 1.2; /* Adjust line height for better readability */
  }

  /* Break the text into two lines */
  #acronym .line-break {
    display: block;
  }

  form {
    width: 100%; /* Make the form take up 100% of the container width on mobile */
  }

  textarea {
    height: 200px; /* Increase height for mobile */
    font-size: 18px; /* Increase font size for mobile */
  }

  button {
    width: 100%; /* Full width button on mobile */
  }

  #result {
    width: 100%; /* Full width result on mobile */
  }
}